body {
    margin: 0;
  }
  
  canvas {
    display: block;
  }
  
  #RHB_view {
    z-index: 265;
    position: absolute;
    bottom: 3em;
  
    right: 3rem;
    margin-left:auto;
    margin-right:auto;
  }
  
  #LHB_view {
    z-index: 265;
    position: absolute;
    bottom: 3em;
    right: 0rem;
   
    margin-left:auto;
    margin-right:auto;
  }
  
  #Pitcher_View {
    z-index: 265;
    position: inherit;
    bottom: 5rem;
  
    
    margin-left:auto;
    margin-right:auto;
  }
  
  #Catcher_View {
    z-index: 265;
    position: inherit;
    bottom: 1rem;
    
    
    margin-left:auto;
    margin-right:auto;
  
  }
  
  .view_menu {
    right: 3em;
    position: absolute;
    bottom: 2rem;
  }

  