{{define "header"}}
    <head>
        <link rel="stylesheet" type="text/css" href="./styles/main.css" />
        <link rel="shortcut icon" href="./styles/favicon.ico">
        <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-5">     
        <title>Sharp Shooter</title>
      </head>
    <body>
        <nav>
            <div class = "bar">
            <div class = "logo">
                Sharp Shooter
            </div>
            <input class = "search" type="text" placeholder="Search...">
            </div>
        </nav>
        <div class = "vnav">
            <a href = "#">intro</a>
            <a href = "#">blog</a>
            <a href = "application">applications</a>
            <a href = "#">about me</a>
            <a href = "#">sign in</a>
        </div>
{{end}}