<html>
	<head>
		<title>Sharp Shooter - Baseball Simulator</title>
		<link rel="shortcut icon" href="./styles/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/styles/application.css" />
		<style>
		</style>
	</head>
	<body>
		<div class = "view_menu">
			<button id = "Pitcher_View"> Pitcher </button>
			<div class = "row2">
				<button id = "RHB_View"> RHB </button>
				<button id = "LHB_View"> LHB </button>
			<div>
			<button id = "Catcher_View"> Catcher </button>
		</div>
		<script src = "../dist/index.bundle.js"></script>
	</body>
</html>