{{define "index"}}
<!doctype html>
<html>
  {{template "header"}}

      <div class = "main">
        <h1> Introduction </h1>
        <p>
          Baseball has been loved by "nerds" for the large amount of data avaliable on every game. 
          The Unified Code for Units of Measure (UCUM) is a system of codes for unambiguously representing measurement units. Its primary purpose is machine-to-machine communication rather than communication between humans.[1]

The code set includes all units defined in ISO 1000, ISO 2955-1983, ANSI X3.50-1986, HL7 and ENV 12435, and explicitly and verifiably addresses the naming conflicts and ambiguities in those standards to resolve them. It provides for representations of units in 7 bit ASCII for machine to machine communication, with unambiguous mapping between case-sensitive and case-insensitive representations.

A reference open-source implementation is available as a Java applet. Also an OSGi based implementation at Eclipse Foundation. 
        </p>
      </div>
    </body>
</html>
{{end}}