<!doctype html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-5">     
    <title>6th Sense</title>
  </head>
    <body>
        <h1> Comments</h1>
        <form method='POST'>
            <textarea name='update'></textarea>
            <div>
                <button type="submit"> Post Update</button>
            </div>
        </form>
        <div>
        {{ range . }}
        <div>
          <strong>{{ .GetUser.GetUsername }} wrote: </strong>
        </div>
        <div>{{ .GetBody }}</div>
      </div>
        {{ end }}
            
        
    </body>
</html>