<!doctype html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-5">     
    <title>6th Sense - Login</title>
  </head>
    <body>
        <form method='POST'>
            <div>
                Username:
                <input name='username'/>
            </div>
            <div>
                Password:
                <input name='password'/>
            </div>
            <div>
                <button type="submit"> Register </button>
            </div>
       </form>
    </body>
</html>